<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Metadata Api</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <h1>File Metadata Api</h1>

  <div class="container">
    <ol>
      <li>Upload a file via the form provided</li>
      <li>The backend will process the file and return the meta data</li>
    </ol>
    
    <h3>Please Upload a File ...</h3>
  
    <form action="./metadata" method="post" enctype="multipart/form-data">
      <input type="file" name="upfile">
      <input type="submit" value="Upload">
    </form>
  
    <ul>
      <% if (typeof msg !== 'undefined') { %>
        <li class="msg<%= typeof data === 'undefined' ? '-danger' : '' %>">status: <%= msg %></li>
      <% } %> 
    
      <% if (typeof data !== 'undefined') { %>    
        <li>name: <%= data.name %></li>
        <li>type: <%= data.type %></li>
        <li>size: <%= data.size %></li>
      <% } %>
    </ul>
  </div>

  <footer>
    <p>coded by
      <a href="http://www.charlietaylorcoder.com/">charlie taylor</a>
    </p>
  </footer>

</body>
</html>